go 1.24.2

use (
	./config
	./db/mongo
	./db/postgres/pgxv5
	./db/redis
	./db/s3
	./middleware/cors
	./middleware/logging
	./middleware/recovery
	./middleware/requestid
	./middleware/validation
	./observability
	./server
)
